* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  grid-column: 2 / 12;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}