//Colors

$white: #ffffff;
$black: #000000;

//Fonts size

$small: 16px;
$medium: 20px;
$big: 48px;

/*Font Family */

/* Import font in this space */

//Font size

$fontSmall: 12px;
$fontNormal: 16px;
$fontMedium: 24px;
$fontBig: 32px;

$large-padding: 10px 15px;
$big-padding: 80px;

//Margin

$default-margin-top: 30px;
$big-margin-top: 80px;